@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root{
	--dark-blue-dark-theme:hsl(209, 23%, 22%);
	--very-dark-blue-dark-theme:hsl(207, 26%, 17%);
	--very-dark-blue-light-theme:hsl(200, 15%, 8%);
	--dark-gray:hsl(0, 0%, 52%);
	--very-light-gray:hsl(0, 0%, 98%);
	--white:hsl(0, 0%, 100%);
}


body {
	color: #333;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Nunito Sans",sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
